#*.pk
#!data/hol4/old/valid_goals_shuffled.pk
#!torch_graph_dict.pk
#!data/hol4/data/vanilla_tactic_zero/encoded_include_probability.pt
#!data/hol4/old/paper_goals.pk
#!graph_token_encoder.pk
#!sat/hol4/model_checkpoints/best_gnn/graph_token_encoder.pk


#data/*
#!data/hol4/
#!data/hol-light/supervised/data/

data/hol-light/supervised/data/tmp/

data/hol4/old/*

data/hol4/raw_data/*
!data/hol4/raw_data/dataset.json
!data/hol4/raw_data/include_probability.json
!data/hol4/raw_data/hol_data.txt
#!data/hol4/data/new_db.json
#!data/hol4/data/paper_goals.pk

#*.json
#!data/hol4/data/dataset.json
#!data/hol4/data/include_probability.json
#!data/hol4/data/vanilla_tactic_zero/typed_database.json
#!data/hol4/data/vanilla_tactic_zero/polished_def_dict.json

experiments/hol4/rl/old/model_checkpoints/*
!experiments/hol4/rl/old/model_checkpoints/best_gnn/*
!experiments/hol4/rl/old/model_checkpoints/best_vanilla

experiments/hol4/rl/gnn_pretrained/
experiments/hol4/rl/traces/
experiments/hol4/rl/vanilla/
experiments/hol4/rl/vanilla_enc_models/

experiments/runs

experiments/hol4/rl/old_replays
__pycache__

.idea

wandb
#*wandb*
